# Ignore everything
*

# Keep directories (including dot-directories) so Git can traverse
!*/
!.*/

# Allow Python and shell scripts anywhere
!**/*.py
!**/*.sh
!**/*.urdf
!**/*.xml
!**/*.obj

# Keep these
!.gitignore
!README*
!LICENSE*
